.vs
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/
**.bin/


# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignorar diretórios de compilação
ToFood.ZipAPI/bin/
ToFood.ZipAPI/bin/Debug
ToFood.ZipAPI/obj/
ToFood.ZipAPI/Uploads/
ToFood.ZipAPI/Output/

# Ignorar arquivos de log
*.log

# Ignorar configurações do usuário
*.user
*.suo
.vscode/

# Ignorar pacotes NuGet gerados
*.nupkg
packages/

# Ignorar arquivos temporários
*.tmp
*.temp
*.cache
